<div class="row">
  <div class="col-lg-4 m-b-30">
      <section class="timer-counter-label">
          <div *ngIf="displayTimer; else elseBlock">  {{displayTimer}} </div>
          <ng-template #elseBlock> 00:00:00 </ng-template>
      </section>
      <section class="timer-button-container">
          <button class="btn btn-outline-light" (dblclick)="toggleTimer()"> {{ startText }}</button>
            <!-- остановка отсчета времени, останавливает и обнуляет значение таймера -->
          <button class="btn btn-outline-light" (click)="startStop()">{{ startText2 }}</button>
            <!-- сброс таймера на 0.  Обнуляет таймер и снова начинает отсчет -->
          <button class="btn btn-outline-light" (click)="resStop()">reset</button>
      </section>
      <p>Таймер должен иметь следующие кнопки:

        * «Start / Stop» - запуск / остановка отсчета времени, останавливает и обнуляет значение таймера.
        
        * «Wait» - работает на двойной клик (время между нажатиями не более 300 мс!) таймер должен прекратить отсчет времени; если после него нажать старт, то возобновляется отсчет.
        
        * «Reset» - сброс таймера на 0.  Обнуляет таймер и снова начинает отсчет.</p>
</div>

<router-outlet></router-outlet>